<a href="https://colab.research.google.com/github/Valento99/codigos_estudio_poo_eia/blob/main/Copia_de_3_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imagínese que requiere guardar la edad de 6 personas, a lo que usted propone tener que crear 6 variables para poder resolver este problema:

In [ ]:
edad1 = 10
edad2 = 20
edad3 = 30
edad4 = 40
edad5 = 50
edad6 = 60

¿Qué haríamos en la situación donde se requiere almacenar 1.000.000 de edades?

Cláramente la solución anterior no es la mejor para resolver el problema con tantos datos.

# Listas:

Es una colección de datos que ordena sus elementos usando algo llamado índice y permite almacenar cualquier tipo de dato. Las listas separan sus elementos por coma y rodean estos por [].

Las listas por naturaleza son mutables, esto quiere decir que se pueden modificar, agregar y eliminar cada uno de sus elementos.

In [ ]:
edades = [20,33,15,74]
print(edades)
print(type(edades))

[20, 33, 15, 74]
<class 'list'>

In [ ]:
nombres = ['Santiago','Manuela','Luis','Angelica']
print(nombres, type(nombres))

['Santiago', 'Manuela', 'Luis', 'Angelica'] <class 'list'>

In [ ]:
alturas = [1.65,1.86,1.77]
print(alturas, type(alturas))

[1.65, 1.86, 1.77] <class 'list'>

In [ ]:
cosas = [True, 3.6, 25, 'HOLA', [100,200,300]]
print(cosas)

[True, 3.6, 25, 'HOLA', [100, 200, 300]]

In [ ]:
# lista_vacia = []
lista_vacia = list()
print(lista_vacia)

[]

Las acciones "básicas" para trabajar con listas son:

- Crearlas
- Mostrar un valor específico
- Modificar un valor específico
- Agregar elementos
- Eliminar elementos
- Hacer uso de las funcionalidades que ya traen las listas

In [ ]:
# Acceder a un elemento en específico usando el índice
print(edades)
print(edades[1])
print(edades[3])
print(edades[-1])

[20, 33, 15, 74]
33
74
74

In [ ]:
print(cosas)
print(cosas[2])
print(cosas[-1])
print(cosas[-1][1])

[True, 3.6, 25, 'HOLA', [100, 200, 300]]
25
[100, 200, 300]
200

In [ ]:
# slicing
print(edades)
print(edades[1:3])
print(edades[:2])
print(edades[1:])

[20, 33, 15, 74]
[33, 15]
[20, 33]
[33, 15, 74]

In [ ]:
# Esto en string
texto = "Universidad EIA"
print(texto)
print(texto[-1])
print(texto[:5])

Universidad EIA
A
Unive

In [ ]:
# Modificar un elemento en particular de la lista

print(alturas)

# Para poder modificar un elemento debemos hacer uso del formato lista[indice] = nuevo_valor

alturas[0] = 1.75
print(alturas)

[1.65, 1.86, 1.77]
[1.75, 1.86, 1.77]

In [ ]:
alturas[-1] = 'computador'
print(alturas)

[1.75, 1.86, 'computador']

In [ ]:
# Para poder agregar nuevos elementos contamos con los comandos: append e insert
# append: siempre agrega el nuevo elemento en la última posición
# insert: agrega el nuevo elemento en una posición definida por nosotros
print(edades)

[20, 33, 15, 74, 45, 45, 45]

In [ ]:
edades.append(45)
print(edades)

[20, 33, 15, 74, 45, 45, 45]

In [ ]:
# Crear una lista de N números aleatorios.

import random

lista = []
N = 5
for i in range(N):
  numero = random.randint(1,10)
  lista.append(numero)
  print(lista)

[1]
[1, 4]
[1, 4, 7]
[1, 4, 7, 1]
[1, 4, 7, 1, 9]

In [ ]:
# A la lista creada se le deben sumar todos sus elementos
suma = 0
cantidad = len(lista) # obtener la cantidad de elementos de la lista
for i in range(cantidad):
  print(lista[i], i)
  suma += lista[i]
print(suma)

1 0
4 1
7 2
1 3
9 4
22

In [ ]:
print(lista)
lista.insert(0,3000)
print(lista)

[1, 4, 7, 1, 9]
[3000, 1, 4, 7, 1, 9]

In [ ]:
lista.insert(3,'hola')
print(lista)

[3000, 1, 4, 'hola', 7, 1, 9]

In [ ]:
# Para "eliminar" un elemento de una lista usamos el comando pop:
print(lista)

[3000, 1, 4, 'hola', 7, 1, 9]

In [ ]:
x = lista.pop(0) # De esta manera se saca el valor de la primera posición y se almacena en la variable x (no se elimina el valor al final)
print(lista)
print(x)

[4, 'hola', 7, 1, 9]
1

In [ ]:
lista.pop(0) # Ahora si se elimina (no se puede usar mas) el valor obtenido con pop

In [ ]:
print(edades)

[20, 33, 15, 74, 45, 45, 45]

In [ ]:
# Otras funciones importantes para las listas

suma = sum(edades)
print(suma)

maximo = max(edades)
print(maximo)

minimo = min(edades)
print(minimo)

conteo = edades.count(45)
print(conteo)

busqueda = edades.index(45)
print(busqueda)

277
74
15
3
4

In [ ]:
print(edades)

[20, 33, 15, 74, 45, 45, 45]

In [ ]:
edades.sort()
print(edades)

[15, 20, 33, 45, 45, 45, 74]

In [ ]:
edades_copy = edades.copy()
edades_copy.sort()
print(edades_copy, edades)

[15, 20, 33, 74] [20, 33, 15, 74]

In [ ]:
print(ord('h'))

104

In [ ]:
texto = 'cosa'
lista_texto = list(texto)
print(lista_texto)

['c', 'o', 's', 'a']

# Tuplas:

Son colecciones de datos ordenadas bajo un índice pero que son inmutables(no se puede agregar, eliminar o modificar sus elementos). Además, sus elementos se separan por comas y se encierran entre ().

In [ ]:
tupla = (10,20,30,30,30,30,30,[1,2,3,[-1,-2,-3]])
print(tupla)
print(type(tupla))

(10, 20, 30, 30, 30, 30, 30, [1, 2, 3, [-1, -2, -3]])
<class 'tuple'>

In [ ]:
# Para poder acceder a sus difentes elementos aplicamos la misma lógica de las listas
print(tupla[0])
print(tupla[-1])
print(tupla[0:2])
print(tupla[-1][-1][-1])

10
[1, 2, 3, [-1, -2, -3]]
(10, 20)
-3

In [ ]:
# Solo tenemos la posibilidad de contar y hacer búsquedas, pero no tenemos herramientas para agregar o quitar elementos
conteo = tupla.count(30)
print(conteo)

busqueda = tupla.index(20)
print(busqueda)

5
1

In [ ]:
tupla[1] = 300 # No se puede modificar un valor

TypeError: 'tuple' object does not support item assignment

Si al final no puedo manipular una tupla...¿Para qué las debo usar?¿Cúales son las razones para que estas existan?


1. Si tenemos datos que nunca deben variar lo ideal es guardar estos en una tupla. Ejemplo: dias de la semana, meses del año.

tupla = ('lunes','martes','miercoles' ,.....,'domingo')

2. En algunas situaciones Python nos retorna información en formato de tupla.

In [ ]:
# Tipo 1 de for
for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
# Tipo 2 de for
lista = [10,20,30,40]
lista2=[]
for elemento in lista: # elemento es un FOTOCOPIA de cada uno de los valores que se almacenan en la lista
  # print(elemento)
  elemento += 1
  lista2.append(elemento)
  print(elemento)
print(lista)
print(lista2)

11
21
31
41
[10, 20, 30, 40]
[11, 21, 31, 41]

In [ ]:
for i in range(len(lista)):
  lista[i] += 1
  print(i, lista[i])
print(lista)

0 11
1 21
2 31
3 41
[11, 21, 31, 41]

In [ ]:
# Tipo 3 de for
lista = [10,20,30,40]
for cosa in enumerate(lista):
  print(cosa, type(cosa))

(0, 10) <class 'tuple'>
(1, 20) <class 'tuple'>
(2, 30) <class 'tuple'>
(3, 40) <class 'tuple'>

In [ ]:
lista = [10,20,30,40]
for indice, valor in enumerate(lista):
  print(indice, valor, type(indice), type(valor))

0 10 <class 'int'> <class 'int'>
1 20 <class 'int'> <class 'int'>
2 30 <class 'int'> <class 'int'>
3 40 <class 'int'> <class 'int'>

In [ ]:
lista = [10,20,30,40]
for tupla in enumerate(lista):
  tupla = list(tupla)
  print(tupla, type(tupla))

[0, 10] <class 'list'>
[1, 20] <class 'list'>
[2, 30] <class 'list'>
[3, 40] <class 'list'>

In [ ]:
# Tipo 4 de for
lista_a = [10,20,30]
lista_b = ['a','b','c']
tupla_c = (True, False, True)
for tupla in zip(lista_a,lista_b,tupla_c):
  print(tupla)

(10, 'a', True)
(20, 'b', False)
(30, 'c', True)

In [ ]:
lista_a = [10,20,30,40]
lista_b = ['a','b','c']
tupla_c = (True, False, True)
for a,b,c in zip(lista_a,lista_b,tupla_c):
  print(a,b,c)

10 a True
20 b False
30 c True

In [ ]:
tupla = (300,400,500)
print(tupla)
tupla_a_lista = list(tupla)
print(tupla_a_lista)
tupla_a_lista[1] = 'texto'
print(tupla_a_lista)
lista_a_tupla = tuple(tupla_a_lista)
print(lista_a_tupla)

(300, 400, 500)
[300, 400, 500]
[300, 'texto', 500]
(300, 'texto', 500)

# Diccionarios:

Colecciones de datos mutables y que almacenan sus valores según una llave. Sus elementos se separan por comas y se encierran entre llaves. Los diccionarios tienen la peculiaridad de que cada elemento siempre tiene dos cosas -> llave:valor.

Para este caso podemos aplicar las mismas acciones que vimos en las listas:

- Crearlas
- Mostrar un valor específico
- Modificar un valor específico
- Agregar elementos
- Eliminar elementos
- Hacer uso de las funcionalidades que ya traen los diccionarios.

In [17]:
# Crear diccionarios
datos = {
    'nombre':'santiago',
    'edad':29,
    'libros':['Fuego y Sangre','Dune','Harry Potter']
  }
print(datos, type(datos))

{'nombre': 'santiago', 'edad': 29, 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter']} <class 'dict'>

In [15]:
yo={
    "Nombre":"Valentin",
    "Apellido":"Moreno",
    "Edad":25,
    "Mascota":"Gato",
    "libros":['Fuego y Sangre','Dune','Harry Potter']
}
print(yo)
#ubicar datos
print(yo["Nombre"])
print(yo["libros"][1])
#modificar
yo['Edad']=24
#agregar
yo["Profesion"]="Ingeniero"
print(yo)

{'Nombre': 'Valentin', 'Apellido': 'Moreno', 'Edad': 25, 'Mascota': 'Gato', 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter']}
Valentin
Dune
{'Nombre': 'Valentin', 'Apellido': 'Moreno', 'Edad': 24, 'Mascota': 'Gato', 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter'], 'Profesion': 'Ingeniero'}

In [ ]:
# Acceder a sus valores (puede generar error si no existe la llave)
print(datos['libros'][-1])
print(datos['edad'])

Harry Potter
29

In [ ]:
# ¿Qué sucede si tratamos de acceder a una llave que no existe?
# print(datos['EPS']) # Esto genera error
# Acceder a sus valores (no genera error si no existe la llave)
print(datos.get('EPS'))
print(datos.get('EPS','No existe'))

None
No existe

In [ ]:
# Modificar un valor en particular: diccionario[llave] = nuevo_valor

datos['edad'] = datos['edad'] + 1
print(datos)

{'nombre': 'santiago', 'edad': 30, 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter']}

In [20]:
# Agregar un elemento en el diccionario se usa la misma sintaxis que para modificar uno de estos

datos['profesion'] = "astronauta"
print(datos)

{'nombre': 'santiago', 'edad': 29, 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter'], 'profesion': 'astronauta'}

In [ ]:
llaves = ['nombre','edad']
valores = ['santiago',29]
diccionario = {}
# for llave, valor in zip(llaves, valores):
#   print(llave, valor)
#   diccionario[llave] = valor
for tupla in zip(llaves, valores):
  # print(llave, valor)
  diccionario[tupla[0]] = tupla[1]
print(diccionario)

{'nombre': 'santiago', 'edad': 29}

In [21]:
# Para eliminar un elemento usamos el mismo comando que las listas: pop
print(datos)
x = datos.pop('profesion')
print(x, datos)

{'nombre': 'santiago', 'edad': 29, 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter'], 'profesion': 'astronauta'}
astronauta {'nombre': 'santiago', 'edad': 29, 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter']}

In [22]:
datos.pop('profesion')
print(datos)

KeyError: 'profesion'

In [26]:
x = datos.pop('nombre')
datos['nombre_completo'] = x
print(x, datos)

KeyError: 'nombre'

In [ ]:
# Funcionalidades

cantidad_elementos = len(datos)
print(cantidad_elementos)

llaves = list(datos.keys())
print(llaves)
valores = list(datos.values())
print(valores)

3
['edad', 'libros', 'nombre_completo']
[30, ['Fuego y Sangre', 'Dune', 'Harry Potter'], 'santiago']

In [ ]:
# for elemento in datos:
#   print(elemento)
# El anterior solo devuelve la llave del diccionario

# for key, value in datos.items():
#   print(key, value)
# El anterior devuelve la llave y el valor en cada iteracion

for cosa in datos.items():
  print(cosa)
# El anterior devuelve en cada iteracion una tupla con la llave y el valor

('edad', 30)
('libros', ['Fuego y Sangre', 'Dune', 'Harry Potter'])
('nombre_completo', 'santiago')

In [ ]:
datos_copia = datos.copy()
print(datos_copia)

datos.clear()
print(datos)

{'edad': 30, 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter'], 'nombre_completo': 'santiago', 'altura': 1.75}
{}

In [27]:
datos.setdefault('altura',1.75)
print(datos)

{'edad': 29, 'libros': ['Fuego y Sangre', 'Dune', 'Harry Potter'], 'nombre_completo': 'santiago', 'altura': 1.75}

In [28]:
#Aqui se esta haciendo una lista de diccionarios
lista = []
p1 = {'nombre':'raul','edad':40}
p2 = {'nombre':'alejandra','edad':22}
p3 = {'nombre':'sebastian','edad':59}
lista.append(p1)
lista.append(p2)
lista.append(p3)
print(lista)

[{'nombre': 'raul', 'edad': 40}, {'nombre': 'alejandra', 'edad': 22}, {'nombre': 'sebastian', 'edad': 59}]

In [30]:
#se miran los elementos de igual manera
print(lista[1])
print(lista[2]['edad'])
print(lista[0]["nombre"])

{'nombre': 'alejandra', 'edad': 22}
59
raul

In [31]:
#Para mdofificar en lista un dict se pone la pos en en la lista y la key lista[pos][key]=valor a cambiar
lista[1]['edad'] += 1
lista[0]['edad'] = 45
print(lista[0],lista[1])

{'nombre': 'raul', 'edad': 45} {'nombre': 'alejandra', 'edad': 23}

In [32]:
#Recorre la lista imprimiendo las edades en los diccionarios
for elemento in lista:
  print(elemento['edad'])
  if elemento['edad'] % 2 == 0:
    print("Es par")

45
23
59

# Conjuntos:

Son colecciones de datos que no están ordenadas por ningún mecanismo ni tampoco permite modificar un valor, permite agregar o quitar elementos. Su valores se separan por comas y se encierren entre {}.

Los conjuntos no permiten valores duplicados.

Las acciones más relevantes son:

- Crear
- Agregar
- Quitar
- Operaciones de conjuntos

In [33]:

conjunto = {1,2,2,2,2,2,2,2,2,2,2,2,3}
print(conjunto, type(conjunto))

{1, 2, 3} <class 'set'>

In [ ]:
nombres = ['a','b','c','b','c','c']
nombres_unicos = set(nombres)
print(nombres_unicos)
nombres_unicos = list(nombres_unicos)
print(nombres_unicos)

{'b', 'c', 'a'}
['b', 'c', 'a']

In [34]:
conjunto.add(1)
print(conjunto)
conjunto.add(5)
print(conjunto)

{1, 2, 3}
{1, 2, 3, 5}

In [38]:
#genera error remove si no exite el valor
conjunto.remove(1)
print(conjunto)

{2, 3, 5}

In [40]:
#discard sirve para remover tambien pero no genera error si el elemento no esta
conjunto.discard(7)
print(conjunto)

{2, 3, 5}

In [ ]:
c1 = {1,2,3,4,5}
c2 = {4,5,6,7}
#interseccion es decir elementos que se encuentran en ambos conjuntos
inter = c1 & c2
print(inter)

#union se unen los conjuntos recordando de que en set no se repiten elementos
union = c1 | c2
print(union)

#diferencia mostrando solo los elementos que le pertenecen a C1
solo_1 = c1 - c2
print(solo_1)

#diferencia mostrando solo los elementos que le pertenecen a C2
solo_2 = c2 - c1
print(solo_2)

{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{6, 7}

# Textos:

De alguna los textos se pueden manipular como si fueran una colección de datos, en el sentido que cuenta con un índice, pero con la diferencia que en un texto solo se puede guardar texto y no otros tipos de datos. Además no puede modificar la posición especifica de un texto.

In [44]:
texto = "Universidad EIA"
print(texto[0])
print(texto[-1])
print(texto[2:5])

U
A
ive

In [46]:
#no se puede hacer modificaciones a los textos
texto[0] = 'a'

TypeError: 'str' object does not support item assignment

In [47]:
for caracter in texto:
  print(caracter)

U
n
i
v
e
r
s
i
d
a
d

E
I
A

In [48]:
#Lista que va desde -5 a 9 de 2 en 2
lista = list(range(-5,10,2))
print(lista)

[-5, -3, -1, 1, 3, 5, 7, 9]